.config/.mono
.config/Android\ Open\ Source\ Project
.config/Cypress
.config/HyperLightDrifter
.config/Keybase
.config/RogueLegacy
.config/Slack
.config/StardewValley
.config/Trolltech.conf
.config/Typora
.config/Unity
.config/autostart
.config/awesome
.config/awesome_old
.config/caffeine/
.config/chromium/
.config/configstore/
.config/dconf
.config/discordcanary
.config/filezilla
.config/gconf
.config/google-chrome
.config/guvcview2
.config/htop
.config/keybase
.config/lugaru
.config/menus
.config/neofetch
.config/pavucontrol.ini
.config/pulse/
.config/ranger
.config/retroarch
.config/unity3d
.config/zsh.d
.config/nvim/bundle
